doctype html
html
   head
      title = "Hello Pug"
   body
      h1 Hello page
      p.greetings#people Welcome to Hello Page!
      a(href = "/home") Home 
      br
      a(href = "/login") Login